#setting-list {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.settings-container button {
    margin-left: 2rem;
    height: 2.5rem;
}

.settings-container {
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    padding-bottom: 1rem;
}

.button-only button {
    margin-left: 1rem;
}