#setting-list {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    width: 60%;
    margin: auto;
    padding: 1em;
}

button {
    margin-left: 2em;
    height: 2.5em;
}

.settings-container {
    display: flex;
    flex-direction: row;
    margin-left: -1em;
    padding-bottom: 1em;
}

.button-only button {
    margin-left: 1em;
}