#bottom-padding {
    padding-bottom: 2rem;
}

#form-root-div {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#form-submission-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#margin-container {
    width: 80%;
    margin: 5vh auto 2vh auto;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

#form-container li {
    padding: 0.25rem;
    width: 90%;
}

#form-container input {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20%;
}

#form-container input[type="checkbox"] {
    width: auto;
}

#form-container button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 2rem;
}

#form {
    margin: 0 2.5rem 0 2.5rem;
}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-button {
    margin-bottom: 1rem;
    margin-right: 11rem;
    font-size: 2rem;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
}

.input-field-titled {
    display: flex;
    flex-direction: row;
}
.parent-text {
    font-weight: 500;
}