#bottom-padding {
    padding-bottom: 2rem;
}

#form-root-div {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#form-container {
    margin: 20rem auto 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

#form-container li {
    margin-left: 0rem;
    padding: 0.25rem;
    width: 90%;
}

#form-container h2 {
    margin-top: 0rem;
}

#form-container p {
    padding: 0rem;
}

#form-container input {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20%;
}

#form-container input[type="checkbox"] {
    width: auto;
}

#form-container button {
    padding: 0rem;
    margin: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 2rem;
}

.input-field-titled {
    display: flex;
    flex-direction: row;
}

.parent-text {
    font-weight: 500;
}