#tracker {
/*    border: 3px solid var(--red);*/
    padding: 0rem 2rem;
    width: 100%;
}

#track-holder {
    display: flex;
    flex-direction: column;
    
}

#tracker h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--red);
    margin-bottom: 0.5rem;
    text-decoration: underline var(--gold);
}



@media (max-width: 768px) {
    #tracker {
        border: 10px solid var(--red);
        padding: 0rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 50px;
        text-align: center;
    }
}