#form-builder {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;

    position: relative;
    
    width: 90%;
    height: 100%;
    margin: 1vh auto 2vh auto;
    
    box-sizing: border-box;
}

#form-selector {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0 auto 10vh auto;
}

#form-selector select {
    align-self: flex-start;
}

#form-selector label {
    margin-top: 8vh;
}

#form-selector input {
    margin-left: 0.2vw;
}

#form-selector button {
    margin-top: 2vh;
    width: 40%;
    align-self: center;
}

#form-editor {
    flex: 75%;
    margin: 5vh 2vh 2vh 2vh;
}

#editor {
    flex: 75%;
}