#form-builder {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;

    position: relative;
    
    width: 80%;
    height: 100%;
    margin: 7vh auto 2vh auto;
    
    box-sizing: border-box;
}

#form-selector {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 5vh auto 2vh auto;
}

#form-editor {
    flex: 75%;
    margin: 5vh 2vh 2vh 2vh;
}

#editor {
    flex: 75%;
}