#form-builder {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;

    position: relative;
    
    width: 80%;
    height: 100%;
    margin: 7vh auto 2vh auto;
    
    box-sizing: border-box;
}

#mod-form #form-container {
    margin: 3em auto;
    
}