#top-bar {
    display: block;
    width: 100%;
    background: var(--gray);
    position: sticky;
    height: 5vh;
    top: 0;
    right: 0;
    border-bottom: 2px solid black;
    min-height: 3rem;
    z-index: 30;
}

#top-bar p{
    height: 50%;
    float: right;
    margin-right: 1vw;
    display: inline-block; 
}

