#information-div {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

#password-info {
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

#password-info h3 {
    padding: 0rem;
    height: 20px;
}

#show-password {
    margin-left: 1rem;
    height: 2.5rem;
}

#change-password {
    margin-top: 1rem;
    font-weight: 500;
}

h1 {
    margin-top: 0rem;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: 600;
}

p {
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}