#information-div {
    padding: 1rem 3rem;
}

#password-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: -1rem;
}


#show-password {
    margin-left: 1rem;
    height: 2.5rem;
}

#change-password {
    margin-top: 1rem;
    font-weight: 500;
}

#information-div h1, #setting-list h1 {
    margin-top: 0;
    text-align: center;
}

#information-div h1:after, #setting-list h1:after {
    content: '';
    width: 100%;
    display: block;
    border-top: 2px solid lightgray;

}

#information-div h3 {
    font-weight: normal;
}

#information-div h4 {
    font-weight: 600;
}

#information-div p {
    font-size: 1.3rem;

}