.signedCheck {
    background: green;
}

.unsignedCheck {
    background: lightgrey;
}

.rejectedCheck {
    background: red;
}

.naCheck {
    background: darkgrey;
}

.naCheck, .signedCheck, .unsignedCheck, .rejectedCheck {
    display: inline-block;

    border-radius: 100%;
    padding: 1.5rem;
    border: 1px solid black;
    margin: 0.3rem;
}


.naCheck:hover~.sig-box, .signedCheck:hover~.sig-box, .unsignedCheck:hover~.sig-box, .rejectedCheck:hover~.sig-box {
    display: block;
}



.trackerHeader {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;

    margin: 0.3rem 0rem 0rem 1rem;
/*    margin-left: 1em;*/

}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.trackedForm {
    border-radius: 0.7rem;
    border: 3px solid black;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.3rem;
    padding: 0.4rem 0rem;
}


.trackedForm a{
    color: var(--blue);
    margin-right: 1em;
}

.signatures {
    height: 100%;


}

.sig-circle {
    display: inline;
    position: relative;
}



