.signedCheck {
    background: green;
}

.unsignedCheck {
    background: lightgrey;
}

.rejectedCheck {
    background: red;
}

.naCheck {
    background: darkgrey;
}

.naCheck, .signedCheck, .unsignedCheck, .rejectedCheck {
    display: inline-block;

    border-radius: 100%;
    padding: 1.5rem;
    border: 1px solid black;
    margin: 0.3rem;
}


.naCheck:hover~.sig-box, .signedCheck:hover~.sig-box, .unsignedCheck:hover~.sig-box, .rejectedCheck:hover~.sig-box {
    display: block;
}


.ellip {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
}

.ellip svg {
    font-size: 3em;
    padding-right: 0.5em;
}

.ellip svg:hover {
    cursor: pointer;
}

.end-bar {

    position: relative;
    background: var(--gray);
    border: 2px solid black;
    border-radius: 0.5em;

}

.end-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.end-bar ul li {
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid black;
}

.end-bar ul li:hover {
    cursor: pointer;
}

.end-bar ul li a {

    text-decoration: none;
}

.trackerHeader {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;

    margin: 0.3rem 0rem 0rem 1rem;
/*    margin-left: 1em;*/

}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
}

.trackedForm {
    border-radius: 0.7rem;
    border: 3px solid black;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


    margin-bottom: 0.3rem;
    padding: 0.4rem 0rem;
}


.trackedForm a{
    color: var(--blue);
/*    padding-right: 1%;
    width: 24%;
    display: flex;
    justify-content: flex-end;
*/}

.signatures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;


}

.sig-circle {
    display: inline;
    position: relative;
}

.warn {

    font-size: 3rem;
    color: red;

}


.warn-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 25%;
}

.show-date, .warn-box p {
    padding-left: 0.9em;
}

.warn-box p {
    font-size: 1.3em;
    text-align: center;
}