.input-field-titled input[type='checkbox']:disabled {
    background-color: white;
    color: white;
    opacity: 1 !important;
}


.choicePicks {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.choicePicks button{
    border-radius: 0.5em;
    background-color: var(--gray);

    padding: 1em 2em;
    margin: 0em 1em;
    margin-bottom: 2em;

    font-size: 1.5em;
}

#sign-button:hover {
    background-color: #1b651b;
}

#decline-button:hover {
    background-color: var(--red);

}