#inbox-message {
    width: auto;
    height: 5rem;
    border: 3px solid var(--red);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1rem;
}

#inbox-message h2 {
    font-size: 20px;
}

inbox-message text {
    font-size: 15px;
}