#form-det {
    border: 3px solid var(--red);
    padding: 4rem;
    width:40%;

}

@media (max-width: 768px) {
    #form-det {
        border: 10px solid var(--red);
        padding: 0rem;
        margin-top: 0.2rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 50px;
        text-align: center;
    }
}