#inbox-main-div {
    border: 3px solid var(--red);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inbox-main-div h2 {
    font-size: 30px;
    max-height: 3rem;
}

#inbox-window-div {
    width: 80%;
    height: 70%;
    margin: auto;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}

#inbox-scroll-window {
    border: 3px solid var(--red);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
