#login-box {
    background: var(--red);
    margin: auto;
    width: 40%;
    height: 50%;
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#login-box form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#login-box input {
    margin-left: 1em;
}

#log-note {
    color: white;

}

#log-note a {
    color: var(--yellow);
}

#login-box h2 {
}

@media (max-width: 1000px) {
    #login-box {
        margin-top: 50%;
        width: 75%;
        height: 500px;
    }

    #login-box form {
        font-size: 50px;
    }

    #login-box h2 {
        font-size: 50px;
    }

    #login-box input {
        margin: auto;
        margin-left: 0.5em;
        width: 300px;
        font-size: 50px;
    }

    #login-box label {
    }
    
    #log-note {
        font-size: 40px;
        text-align: center;
    }
}