/*Big red box*/
#reg-box {
    color: white;
    background: var(--red);
    border-radius: 0.5rem;
    
    margin: auto;
    padding: 0.5rem;
    
    width: 40%;
    height: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Form inside of the box*/
#reg-box form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/*Input inside form inside box*/
#reg-box input {
    border: 2px black solid;
    border-radius: 0.3rem;
    
    padding: 0.2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

#reg-note {
    color: white;

}

#reg-note a {
    color: var(--yellow);
}

#reg-box h2 {
    margin: 0.3rem;
}

/*Back button in the bottom left of register boxes*/
#reg-back-button {
    background: var(--gold);
    color: black;

    border-radius: 0.3rem;
    border: 2px solid black;

    display:block;

    position: relative;
    bottom: 0;
    left: 0;
}


/*Choose user type box*/

#reg-pick {
    color: white;
    background: var(--red);
    border-radius: 0.5rem;
    
    margin: auto;
    
    width: 60%;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reg-pick h2, #reg-box h2 {
    font-size: 3vw;
}

#reg-pick h2 {
    margin-bottom: 0;

}

/*The div that holds the list of the users*/
#user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 80%;
    height: 17vw;
    
    margin-top: 10%;
}

/*user-type boxes in user-list*/
.pick-user {
    background: var(--gray);
    color: var(--red);
    border: solid 0.3rem var(--gold);
    border-radius: 0.5rem;
    
    text-align: center;
    width: 30%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    
    transition: 0.3s;

}

/*Change background and cursor on hover*/
.pick-user:hover {
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

/*Icons for the user picker*/
.reg-icon {
    font-size: 9vw;

    margin-bottom: 10%;

}

.pick-user h4{
    font-size: 1.3vw;
    
    margin: 0;
    margin-bottom: 1rem;
}


/*----------------------PHONE STUFF-----------------------------------------------*/
@media (max-width: 768px) {
    #reg-box {
        margin-top: 40%;
        width: 85%;
        height: 60%;
    }

    #reg-box form {
        font-size: 50px;
    }

    #reg-box h2 {
        font-size: 50px;
    }

    #reg-box input {
        margin-top: 0.2em;
        margin-left: 0.5em;
        width: 7rem;
        font-size: 50px;
    }

    #reg-box input[type="submit"] {
        margin-left: auto;
    }

    #reg-box label {
    }
    
    #reg-note {
        font-size: 40px;
        text-align: center;
    }
}
