/*The big header at the top of page*/
#lp-header {
    text-align: center;
}


/*The div for the words beneath header*/
#main-blurb {
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    background: #f9f9f9;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 0.5rem;
    align-items: flex-start;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #333;
}

/* Any numbered lists in blurb */
#main-blurb ol {
    text-align: left;
    width: 100%;
    margin: 0em;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#main-blurb li {
    margin: 0em;
    margin-left: 2rem;
    width: 80%;
    padding-top: 1rem;
}

#main-blurb ol ul {
    padding-top: 0.5rem;
}

/*Any headers in div*/
#main-blurb h3 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: #2f3642;
}

/*Creates the underline for titles*/
#main-blurb h3:after {
    content: "";
    margin-top:0.1rem;
    border-top: 7px solid grey;
}

.feature-block {
    background: white;
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

@media (max-width: 768px) {
    #main-blurb {
        width: 80%;
        font-size: 35px;
    }

    #main-blurb h3 {
        font-size: 50px;
    }

    #lp-header {
        font-size: 40px;
    }
}