/*The big header at the top of page*/
#lp-header {
    text-align: center;
    margin-top: 1em;
}


/*The div for the words beneath header*/
#main-blurb {
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
/*    background: #d7c693;*/
/*    border-radius: 2em;*/
    border-right: 3px gray solid;
    border-left: 3px gray solid;
    padding: 0.5em;
    align-items: flex-start;
    margin-top: 1em;
}

/* Any numbered lists in blurb */
#main-blurb ol {
    text-align: left;
    width: 100%;
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#main-blurb li {
    margin: 0em;
    margin-left: 2em;
    width: 80%;
}

/*Any headers in div*/
#main-blurb h3 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

/*Creates the underline for titles*/
#main-blurb h3:after {
    content: "";
    margin-top:0.1em;
    border-top: 7px solid grey;
}

@media (max-width: 768px) {
    #main-blurb {
        width: 80%;
        font-size: 35px;
    }

    #main-blurb h3 {
        font-size: 50px;
    }

    #lp-header {
        font-size: 40px;
    }
}