/*
  In The :root class we hold the overarching styling as well
  as variables for colors we are going to use throughout the 
  project.
*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


body {
    width: 100%;
    overflow-x: hidden;
    
}