#form-list {
    height: 100%;
    width: 40%;
    top:50%;
    right:50%;
    transform: translate(50%, -50%); 

    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 2px solid black;
    border-right: 2px solid black;

    background: #ffffffdd;
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: none;
}

#form-list::-webkit-scrollbar {
    display: none;
}

#form-list h2 {
    padding-top: 0.4em;
    font-size: 3em;
    color: var(--red);
    text-decoration: underline var(--gold);
}

#form-list h2:hover {
    cursor: default;
}

#form-list a {
    display: block;
    width: 70%;
    background: var(--gold);

    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;

    border-radius: 0.5em;
    border: 3px solid black;

    display: block;

    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

/*The background for this page*/
#form-back{
    height: 100%;
    width: 100%;
    background: url('./../../assets/images/login-background.jpg');
    filter: blur(1rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-list a:hover {
    padding: 1.5rem 1.75rem;
    transition: 0.3s;
    box-shadow: 3px 3px 2px 2px black;

}
