#landing-nav {
    background: var(--red);
    padding: 0.5em;

    /* We want the elements to be on the right 
    so flex-end does that for us */
    display: flex;
    justify-content: flex-end;
}

#ln-list {
    /* No bullet points in my household */
    list-style: none;
}


#ln-list li {
    /* horizontal list yippie */
    display: inline-block;
}


/* I really want to add a fun rotating border animation
when the user hovers over the button - Alex */
#ln-list li a {
    text-decoration: none;
    background: var(--gold);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    color: black;
    border: 2px solid black;
}

@media (max-width: 768px) {
    #landing-nav {
        height: 150px;
    }

    #ln-list li a {
        padding: 1em;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 35px;
    }

    #ln-list {
        margin-top: auto;
        margin-bottom: auto;
    }
}
