#landing-nav {
    background: var(--red);

    /* We want the elements to be on the right 
    so flex-end does that for us */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5em;
}

#ln-list {
    /* No bullet points in my household */
    width: 10em;
    list-style: none;
    display: flex;
    padding: 0em;
}


#ln-list li {
    /* horizontal list yippie */
    display: flex;
}


/* I really want to add a fun rotating border animation
when the user hovers over the button - Alex */
#ln-list li a {
    white-space: nowrap;
    text-decoration: none;
    background: var(--gold);
    padding: 0.5em;
    border-radius: 0.3em;
    color: black;
    border: 2px solid black;
}

@media (max-width: 1000px) {
    #landing-nav {
        height: 10em;
    }

    #ln-list li a {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 35px;
    }

    #ln-list {
        width: 25em;
        margin: 0em;
        margin-right: 2em;
    }
}
