#inbox-interaction-bar {
    width: auto;
    height: 8em;
    background: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

button {
    min-width: 8em;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    background: var(--gold);
    cursor: pointer;
}